@{
    Layout = "_Layout2";
}

<div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="card-body p-6">
                <div class="mb-4">
                    <h1> @_localizer["ForgotPassword"]</h1>
                </div>
                <!-- Form -->
                <div> @_localizer["SentEmail"]</div>
               
                <span><a href="/Account/Signin">OK</a></span>
            </div>
        </div>
    </div>
</div>